form {
  @apply w-full;
}

.schema-row {
  @apply grid gap-4;
  grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
}
.schema-col {
}

.label {
  @apply block mb-2 font-bold leading-tight tracking-wide text-gray-700;
}
.label--required {
  @apply text-red-700;
}

form input {
  @apply w-full text-gray-700;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.checkbox__label {
  @apply inline-flex items-center px-2;
}
